<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <i>
        <h1 style="color: brown;">FOR LOOP STATEMENT</h1>
        <h1 style="color:aqua">Printing The Name</h1>
        <h1>{{name}}</h1>
        <h1 style="color: aqua;">Inline Level</h1>
        {% for i in name %}
        {{i}}
        {% endfor %}
        <h1 style=" color:aqua">Block Level</h1>
        {% for i in name %}
        <h1>{{i}}</h1>
        {% endfor %}
        </i>
    </center>
</body>
</html>